asgiref==3.10.0

bleach==6.3.0

Django==5.2.7

django-cors-headers==4.9.0

django-filter==25.2

Django-Verify-Email==3.0.3

djangorestframework==3.17.1

djangorestframework_simplejwt==5.5.1

pillow==12.1.1

PyJWT==2.12.1

python-dotenv==1.2.2

sqlparse==0.5.3

tinycss2==1.5.1

tzdata==2025.2

webencodings==0.5.1

setuptools>=65.0.0

whitenoise

gunicorn==21.0.0